<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.ChatMsgMapper">
	<sql id="Base_Column_List">
		 id, 
			arrive,come,go,data,dataType,sendTime 
	</sql>
	<select id='findById' resultMap='ChatMsg'  parameterType='java.lang.Long'>
		select 
			<include refid="Base_Column_List" />
			 from scan.chat_msg 
			 where id = #{value}
	</select>
	
	<select id='findByParam' resultMap='ChatMsg' >
		select 
			<include refid="Base_Column_List" />
			 from scan.chat_msg 
			 where ${propName} = #{value}
	</select>
	
	<select id='findAll' resultMap='ChatMsg' >
		select
			<include refid="Base_Column_List" />
			 from scan.chat_msg
	</select>
	<select id='findByIds' parameterType='java.util.Set'>
		select
			<include refid="Base_Column_List" />
			 from scan.chat_msg where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</select>
	<insert id='save' parameterType='cn.harry12800.db.entity.ChatMsg'>
		insert into scan.chat_msg(
		 arrive,  come,  go,  data,  dataType,   sendTime)
		values(#{arrive},
		#{come},
		#{go},
		#{data},
		#{datatype},
		#{sendtime}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.ChatMsg'>
		update scan.chat_msg set
		 arrive=#{arrive},
		 		 come=#{come},
		 		 go=#{go},
		 		 data=#{data},
		 		 dataType=#{datatype},
		 		 
		 sendTime=#{sendtime}
		 where id=#{id}
	</update>
	<delete id='deleteById' parameterType='java.lang.Long'>
		delete from scan.chat_msg where  id = #{value}
	</delete>
	<!-- #{value} -->
	<delete id='deleteByIds' parameterType='java.util.Set'>
		delete from scan.chat_msg where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</delete>
	
	
	<resultMap type='cn.harry12800.db.entity.ChatMsg' id='ChatMsg'>
			<result property='id' column='id'/>
			<result property='arrive' column='arrive'/>
			<result property='come' column='come'/>
			<result property='go' column='go'/>
			<result property='data' column='data'/>
			<result property='datatype' column='dataType'/>
			<result property='sendtime' column='sendTime'/>
	</resultMap>
</mapper>
	