<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.scan.mapper.DiaryCatalogMapper">
	<select id='findById' resultMap='DiaryCatalog'  parameterType='java.lang.String'>
		select  id,parent_id,name,sort,create_time,update_time,user_id  from scan.diary_catalog  where id = #{id}
	</select>
	<select id='findBySql' parameterType='java.lang.String'  resultMap='DiaryCatalog' >
		 ${value}
	</select>
	<select id='findAll' resultMap='DiaryCatalog' >
		select id,parent_id,name,create_time,update_time,sort from scan.diary_catalog order by sort
	</select>
	<select id='findAllByUserId' resultMap='DiaryCatalog'  parameterType='java.lang.String' >
		select id,parent_id,name,create_time,update_time,sort,user_id from scan.diary_catalog where user_id=#{userId} order by sort
	</select>
	<insert id='save' parameterType='cn.harry12800.scan.entity.DiaryCatalog'>
		insert into scan.diary_catalog(
		 id,  parent_id,  name,  create_time,  update_time,   sort,user_id)
		values(#{id},
		#{parentId},
		#{name},
		#{createTime},
		#{updateTime},
		#{sort},
		#{userId}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.scan.entity.DiaryCatalog'>
		update scan.diary_catalog set
		 id=#{id},
		 		 parent_id=#{parentId},
		 		 name=#{name},
		 		 create_time=#{createTime},
		 		 update_time=#{updateTime},
		 sort=#{sort},
		 user_id=#{userId}
		 where id=#{id}
	</update>
	<delete id='deleteByIds' parameterType='java.lang.String'>
		delete from scan.diary_catalog where  #{value}
	</delete>
	<delete id='deleteById' parameterType='java.lang.String'>
		delete from scan.diary_catalog where  id = #{id}
	</delete>
	<resultMap type='cn.harry12800.scan.entity.DiaryCatalog' id='DiaryCatalog'>
			<result property='id' column='id'/>
			<result property='parentId' column='parent_id'/>
			<result property='name' column='name'/>
			<result property='createTime' column='create_time'/>
			<result property='updateTime' column='update_time'/>
			<result property='sort' column='sort'/>
			<result property='userId' column='user_id'/>
	</resultMap>
</mapper>
	