<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.FileServerMapper">
	<sql id="Base_Column_List">
		id,visit_path,file_path,length,visit_times,tag,file_type,suffix,nil_path,file_name 
	</sql>
	<select id='findAll' resultMap='FileServer' >
		SELECT
		<include refid="Base_Column_List" />
		FROM scan.file_server
	</select>
	<select id='countAll' resultType='java.lang.Long' >
		SELECT count(*) FROM scan.file_server
	</select>
	<select id='pageList' resultMap='FileServer' >
		SELECT
		<include refid="Base_Column_List" />
		FROM scan.file_server limit #{index},#{pageSize}
	</select>
	<select id='exist' resultType='java.lang.Integer' parameterType='cn.harry12800.db.entity.FileServer'>
		SELECT COUNT(1)
		FROM scan.file_server 
		WHERE id= #{id}
	</select>
	<select id='findById' resultMap='FileServer'  parameterType='java.lang.String'>
		SELECT 
		<include refid="Base_Column_List" />
		FROM scan.file_server 
		WHERE id = #{value}
	</select>
	<select id='findByIds' parameterType='java.util.Set'>
		SELECT
		<include refid="Base_Column_List" />
		FROM scan.file_server WHERE  
		<choose>
			<when test='ids !=null and ids.size()>0'>
				id IN 
				<foreach item = 'id' index='index' collection='ids' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</select>
	
	<insert id='save' parameterType='cn.harry12800.db.entity.FileServer'>
		INSERT INTO scan.file_server(
		id,visit_path,file_path,length,visit_times,tag,file_type,suffix,nil_path,file_name)
		VALUES(#{id},
		#{visitPath},
		#{filePath},
		#{length},
		#{visitTimes},
		#{tag},
		#{fileType},
		#{suffix},
		#{nilPath},
		#{fileName}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.FileServer'>
		UPDATE scan.file_server SET
		 visit_path=#{visitPath},
		 		 file_path=#{filePath},
		 		 length=#{length},
		 		 visit_times=#{visitTimes},
		 		 tag=#{tag},
		 		 file_type=#{fileType},
		 		 suffix=#{suffix},
		 		 nil_path=#{nilPath},
		 		 
		 file_name=#{fileName}
		 WHERE id= #{id}
	</update>
	<update id='updateNotNull' parameterType='cn.harry12800.db.entity.FileServer'>
		UPDATE scan.file_server 
		<trim prefix="SET" suffixOverrides=",">
		 	<if test='null != visitPath'>visit_path=#{visitPath},</if>
		 	<if test='null != filePath'>file_path=#{filePath},</if>
		 	<if test='null != length'>length=#{length},</if>
		 	<if test='null != visitTimes'>visit_times=#{visitTimes},</if>
		 	<if test='null != tag'>tag=#{tag},</if>
		 	<if test='null != fileType'>file_type=#{fileType},</if>
		 	<if test='null != suffix'>suffix=#{suffix},</if>
		 	<if test='null != nilPath'>nil_path=#{nilPath},</if>
		 	<if test='null != fileName'>file_name=#{fileName},</if>
		 </trim>
		 WHERE 
		<trim prefix="" suffixOverrides=" AND ">
			<if test='1 == 1'>
				id=#{id}
			</if>
		</trim>
	</update>
	<delete id='deleteById' parameterType='java.lang.String'>
		DELETE FROM scan.file_server WHERE  id = #{value}
	</delete>
	<!-- #{value} -->
	<delete id='deleteByIds' parameterType='java.util.Set'>
		DELETE FROM scan.file_server WHERE  
		<choose>
			<when test='ids !=null and ids.size()>0'>
				id IN 
				<foreach item = 'id' index='index' collection='ids' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</delete>
	
	<resultMap type='cn.harry12800.db.entity.FileServer' id='FileServer'>
			<result property='id' column='id'/>
			<result property='visitPath' column='visit_path'/>
			<result property='filePath' column='file_path'/>
			<result property='length' column='length'/>
			<result property='visitTimes' column='visit_times'/>
			<result property='tag' column='tag'/>
			<result property='fileType' column='file_type'/>
			<result property='suffix' column='suffix'/>
			<result property='nilPath' column='nil_path'/>
			<result property='fileName' column='file_name'/>
	</resultMap>
</mapper>
	