<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.ResourceMapper">
	<select id='findById' resultMap='Resource' parameterType='java.lang.Long'>
		select
		id,directory_id,app_id,name,create_time,update_time,create_user,update_user,resource_type,remark,readable,owner,cipher,hint,sort
		from docs.resource where id = #{id}
	</select>
	<select id='findByDirectoryId' resultMap='Resource'
		parameterType='java.lang.Long'>
		select
		id,directory_id,app_id,name,create_time,update_time,create_user,update_user,resource_type,remark,readable,owner,cipher,hint,sort
		from docs.resource where directory_id = #{directoryId} order by update_time desc
	</select>
	<select id='findByUserId' resultMap='Resource'
		parameterType='java.lang.String'>
		select
		id,directory_id,app_id,name,create_time,update_time,create_user,update_user,resource_type,remark,readable,owner,cipher,hint,sort
		from docs.resource where owner = #{value}  order by create_time desc
	</select>
	<select id='findAll' resultMap='Resource'>
		select id,
		directory_id, app_id, name, create_time, update_time, create_user,update_user, resource_type, remark, readable,owner,cipher,hint,sort
		from docs.resource  order by create_time desc
	</select>
	<insert id='save' parameterType='cn.harry12800.db.entity.Resource'>
		insert into docs.resource(
		id, directory_id, app_id, name, create_time, update_time, create_user,
		update_user, resource_type, remark, readable,owner,cipher,hint,sort)
		values(#{id},
		#{directoryId},
		#{appId},
		#{name},
		#{createTime},
		#{updateTime},
		#{createUser},
		#{updateUser},
		#{resourceType},
		#{remark},
		#{readable},
		#{owner},
		#{cipher},
		#{hint},
		#{sort}
		)
	</insert>
	<insert id="insertUserResource">
		insert into docs.user_resource (user_id,resource_id)
		values
		(#{userId},
		#{resourceId}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.Resource'>
		update docs.resource set
		directory_id=#{directoryId},
		app_id=#{appId},
		name=#{name},
		<!-- create_time=#{createTime}, -->
		update_time=#{updateTime},
		<!-- create_user=#{createUser}, -->
		update_user=#{updateUser},
		resource_type=#{resourceType},
		remark=#{remark},
		readable=#{readable}
		where id=#{id}
	</update>
	<update id='publicResource' parameterType='java.lang.Long'>
		update docs.resource set
		readable=1 
		where id=#{id}
	</update>
	<update id='selfResource' parameterType='java.lang.Long'>
		update docs.resource set
		readable=0 
		where id=#{id}
	</update>
	<delete id='deleteById' parameterType='java.lang.Long'>
		delete from docs.resource where
		id = #{value}
	</delete>
	<delete id='deleteByIds' parameterType='java.util.Set'>
		delete from docs.resource
		where  id in <foreach item='id' collection='ids' open='(' separator=',' close=')'>
		#{id}
		</foreach>
	</delete>
	<delete id='deleteUserResourceByResouceId' parameterType='java.lang.Long'>
		delete from docs.user_resource
		where  resource_id =#{resourceId}
	</delete>
	
	<resultMap type='cn.harry12800.db.entity.Resource' id='Resource'>
		<result property='id' column='id' />
		<result property='directoryId' column='directory_id' />
		<result property='appId' column='app_id' />
		<result property='name' column='name' />
		<result property='createTime' column='create_time' />
		<result property='updateTime' column='update_time' />
		<result property='createUser' column='create_user' />
		<result property='updateUser' column='update_user' />
		<result property='resourceType' column='resource_type' />
		<result property='remark' column='remark' />
		<result property='readable' column='readable' />
		<result property='owner' column='owner' />
		<result property='cipher' column='cipher' />
		<result property='hint' column='hint' />
		<result property='sort' column='sort' />
	</resultMap>
</mapper>
	