<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.ResourceMapper">
	<sql id="Base_Column_List">
		 id, 
			directory_id,app_id,name,create_time,update_time,create_user,update_user,resource_type,remark,readable,owner,cipher,hint,sort 
	</sql>
	<select id='findById' resultMap='Resource'  parameterType='java.lang.Long'>
		select 
			<include refid="Base_Column_List" />
			 from docs.resource 
			 where id = #{value}
	</select>
	
	<select id='findByParam' resultMap='Resource' >
		select 
			<include refid="Base_Column_List" />
			 from docs.resource 
			 where ${propName} = #{value}
	</select>
	
	<select id='findAll' resultMap='Resource' >
		select
			<include refid="Base_Column_List" />
			 from docs.resource
	</select>
	<select id='findByIds' parameterType='java.util.Set'>
		select
			<include refid="Base_Column_List" />
			 from docs.resource where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</select>
	<insert id='save' parameterType='cn.harry12800.db.entity.Resource'>
		insert into docs.resource(
		 directory_id,  app_id,  name,  create_time,  update_time,  create_user,  update_user,  resource_type,  remark,  readable,  owner,  cipher,  hint,   sort)
		values(#{directoryId},
		#{appId},
		#{name},
		#{createTime},
		#{updateTime},
		#{createUser},
		#{updateUser},
		#{resourceType},
		#{remark},
		#{readable},
		#{owner},
		#{cipher},
		#{hint},
		#{sort}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.Resource'>
		update docs.resource set
		 directory_id=#{directoryId},
		 		 app_id=#{appId},
		 		 name=#{name},
		 		 create_time=#{createTime},
		 		 update_time=#{updateTime},
		 		 create_user=#{createUser},
		 		 update_user=#{updateUser},
		 		 resource_type=#{resourceType},
		 		 remark=#{remark},
		 		 readable=#{readable},
		 		 owner=#{owner},
		 		 cipher=#{cipher},
		 		 hint=#{hint},
		 		 
		 sort=#{sort}
		 where id=#{id}
	</update>
	<delete id='deleteById' parameterType='java.lang.Long'>
		delete from docs.resource where  id = #{value}
	</delete>
	<!-- #{value} -->
	<delete id='deleteByIds' parameterType='java.util.Set'>
		delete from docs.resource where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</delete>
	
	
	<resultMap type='cn.harry12800.db.entity.Resource' id='Resource'>
			<result property='id' column='id'/>
			<result property='directoryId' column='directory_id'/>
			<result property='appId' column='app_id'/>
			<result property='name' column='name'/>
			<result property='createTime' column='create_time'/>
			<result property='updateTime' column='update_time'/>
			<result property='createUser' column='create_user'/>
			<result property='updateUser' column='update_user'/>
			<result property='resourceType' column='resource_type'/>
			<result property='remark' column='remark'/>
			<result property='readable' column='readable'/>
			<result property='owner' column='owner'/>
			<result property='cipher' column='cipher'/>
			<result property='hint' column='hint'/>
			<result property='sort' column='sort'/>
	</resultMap>
</mapper>
	