<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.ShareResourceMapper">
	<sql id="Base_Column_List">
		 id, 
			data,providerId,recipientId,resourceName,resourceType,path,grantTime 
	</sql>
	<select id='findById' resultMap='ShareResource'  parameterType='java.lang.Long'>
		select 
			<include refid="Base_Column_List" />
			 from scan.share_resource 
			 where id = #{value}
	</select>
	
	<select id='findByParam' resultMap='ShareResource' >
		select 
			<include refid="Base_Column_List" />
			 from scan.share_resource 
			 where ${propName} = #{value}
	</select>
	
	<select id='findAll' resultMap='ShareResource' >
		select
			<include refid="Base_Column_List" />
			 from scan.share_resource
	</select>
	<select id='findByIds' parameterType='java.util.Set'>
		select
			<include refid="Base_Column_List" />
			 from scan.share_resource where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</select>
	<insert id='save' parameterType='cn.harry12800.db.entity.ShareResource'>
		insert into scan.share_resource(
		 data,  providerId,  recipientId,  resourceName,  resourceType,  path,   grantTime)
		values(#{data},
		#{providerid},
		#{recipientid},
		#{resourcename},
		#{resourcetype},
		#{path},
		#{granttime}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.ShareResource'>
		update scan.share_resource set
		 data=#{data},
		 		 providerId=#{providerid},
		 		 recipientId=#{recipientid},
		 		 resourceName=#{resourcename},
		 		 resourceType=#{resourcetype},
		 		 path=#{path},
		 		 
		 grantTime=#{granttime}
		 where id=#{id}
	</update>
	<delete id='deleteById' parameterType='java.lang.Long'>
		delete from scan.share_resource where  id = #{value}
	</delete>
	<!-- #{value} -->
	<delete id='deleteByIds' parameterType='java.util.Set'>
		delete from scan.share_resource where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</delete>
	
	
	<resultMap type='cn.harry12800.db.entity.ShareResource' id='ShareResource'>
			<result property='id' column='id'/>
			<result property='data' column='data'/>
			<result property='providerid' column='providerId'/>
			<result property='recipientid' column='recipientId'/>
			<result property='resourcename' column='resourceName'/>
			<result property='resourcetype' column='resourceType'/>
			<result property='path' column='path'/>
			<result property='granttime' column='grantTime'/>
	</resultMap>
</mapper>
	