<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.UserDirectoryMapper">
	<sql id="Base_Column_List">
		 user_id, 
			directory_id 
	</sql>
	<select id='findById' resultMap='UserDirectory'  parameterType='java.lang.String'>
		select 
			<include refid="Base_Column_List" />
			 from docs.user_directory 
			 where user_id = #{value}
	</select>
	
	<select id='findByParam' resultMap='UserDirectory' >
		select 
			<include refid="Base_Column_List" />
			 from docs.user_directory 
			 where ${propName} = #{value}
	</select>
	
	<select id='findAll' resultMap='UserDirectory' >
		select
			<include refid="Base_Column_List" />
			 from docs.user_directory
	</select>
	<select id='findByIds' parameterType='java.util.Set'>
		select
			<include refid="Base_Column_List" />
			 from docs.user_directory where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 user_id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</select>
	<insert id='save' parameterType='cn.harry12800.db.entity.UserDirectory'>
		insert into docs.user_directory(
		  directory_id)
		values(#{directoryId}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.UserDirectory'>
		update docs.user_directory set
		 
		 directory_id=#{directoryId}
		 where id=#{id}
	</update>
	<delete id='deleteById' parameterType='java.lang.String'>
		delete from docs.user_directory where  user_id = #{value}
	</delete>
	<!-- #{value} -->
	<delete id='deleteByIds' parameterType='java.util.Set'>
		delete from docs.user_directory where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 user_id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</delete>
	
	
	<resultMap type='cn.harry12800.db.entity.UserDirectory' id='UserDirectory'>
			<result property='userId' column='user_id'/>
			<result property='directoryId' column='directory_id'/>
	</resultMap>
</mapper>
	