<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.harry12800.db.mapper.UserMapper">
	<sql id="Base_Column_List">
		 id, 
			user_id,passward,userName,exp,level 
	</sql>
	<select id='findById' resultMap='User'  parameterType='java.lang.String'>
		select 
			<include refid="Base_Column_List" />
			 from scan.user 
			 where id = #{value}
	</select>
	
	<select id='findByParam' resultMap='User' >
		select 
			<include refid="Base_Column_List" />
			 from scan.user 
			 where ${propName} = #{value}
	</select>
	
	<select id='findAll' resultMap='User' >
		select
			<include refid="Base_Column_List" />
			 from scan.user
	</select>
	<select id='findByIds' parameterType='java.util.Set'>
		select
			<include refid="Base_Column_List" />
			 from scan.user where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</select>
	<insert id='save' parameterType='cn.harry12800.db.entity.User'>
		insert into scan.user(
		 user_id,  passward,  userName,  exp,   level)
		values(#{userId},
		#{passward},
		#{username},
		#{exp},
		#{level}
		)
	</insert>
	<update id='update' parameterType='cn.harry12800.db.entity.User'>
		update scan.user set
		 user_id=#{userId},
		 		 passward=#{passward},
		 		 userName=#{username},
		 		 exp=#{exp},
		 		 
		 level=#{level}
		 where id=#{id}
	</update>
	<delete id='deleteById' parameterType='java.lang.String'>
		delete from scan.user where  id = #{value}
	</delete>
	<!-- #{value} -->
	<delete id='deleteByIds' parameterType='java.util.Set'>
		delete from scan.user where  
		<choose>
			<when test='set !=null and set.size()>0'>
				 id  in 
				<foreach item = 'id' index='index' collection='set' open='(' separator=',' close=')'>
					#{id}
				</foreach>
			</when>
			<otherwise>
			 0 = 1
			</otherwise>
		</choose>
	</delete>
	
	
	<resultMap type='cn.harry12800.db.entity.User' id='User'>
			<result property='id' column='id'/>
			<result property='userId' column='user_id'/>
			<result property='passward' column='passward'/>
			<result property='username' column='userName'/>
			<result property='exp' column='exp'/>
			<result property='level' column='level'/>
	</resultMap>
</mapper>
	